<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<li><a class="language-first" href="#">CSS</a></li>
			<li><a class="language" href="#">HTML</a></li>
			<li><a class="language" href="#">Javascript</a></li>
			<li><a class="language" href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a class="help-links" href="#">FAQ</a></li>
			<li><a class="help-links" href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>